.header{
  background-image: url("../assets/backgrounds/landing.jpg");
  text-align: center;
  height: 460px;
  background-repeat: no-repeat;
  background-size: cover;

}
#backgroundimg2{
  background-image: url("../assets/backgrounds/foodsBg.jpg");
  height: 450px;
}
