.header{
  background-image: url("../assets/backgrounds/landing.jpg");
  text-align: center;
  height: 460px;
  background-repeat: no-repeat;
  background-size: cover;

}
.container {

}
#fastfood-details{
    margin: none;
}
